# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ECLIPSE 2021 PROJECTS new\ShopLaptop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
